@model IEnumerable<WebDevSem2ClientMVC.Models.Game>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<link rel="stylesheet" href="~/css/Game.css" asp-append-version="true" />
<p>
    <a asp-action="Create">Nieuwe game</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPlayers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPlayers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameStatus)
                </td>
                <td>
                    <a asp-action="Game" asp-route-id="@item.GameId">Join</a>
                </td>
            </tr>
        }
    </tbody>
</table>


